body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
}
.todo {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.inactive {
  text-decoration: line-through;
}

button {
  margin: 10px;
}
